@import "tailwindcss";

.glow-button {
    animation: glow 2s infinite ease-in-out;
    transition: transform 0.3s;
}

.glow-button:hover {
  transform: scale(1.05);
}

@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 0px rgba(255, 0, 0, 0);
    }

    50% {
        box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.6);
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}